@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color:white;
}

header{
    border-bottom: 1px solid white;
    height: 70px;
    font-size: 36px;
}

.nav{
    padding:10px 30px;
}