@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color:white;
}

header{
    border-bottom: 1px solid white;
    height: 70px;
    font-size: 36px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}

.nav{
    padding:10px 30px;
}

.content{
    margin:0 30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-top:20px;
}

.content .text p{
    font-size: 26px;
}

.searchBar input{
    height: 40px;
    width: 1200px;
    border: none;
    padding-left: 15px;
}
.searchBar input:focus{
    border: none;
    outline: none;
}
.searchBar input::placeholder{
    font-size: 20px;
    color:rgb(74, 66, 66)
}

.searchBar{
    border:1px solid white;
    padding:3px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

button{
    background-color: white;
    color:black;
    font-size: 20px;
    border-radius: 8px;
    height: 40px;
    padding:5px;
    cursor:pointer;
}

#menu{
    margin-top:20px;
    display:grid;
    grid-template-columns:300px 300px 300px 300px;
    gap:20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#menu .box{
  max-width: 300px;
  padding:10px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.box .btn{
    background-color: white;
    color:black;
    font-size: 20px;
    border-radius: 8px;
    height: 40px;
    padding:5px;
    cursor:pointer;
    width: 100%;
}
#result{
    font-size: 36px;
    margin:20px;
    
}
